* {
	font:						"CaskaydiaCove Nerd Font Mono 10";
	urgent:                             #bf626a;
    selected:                           #81a1c1;
	active:							    #a3be8c;
    foreground-alt:                     #e5e9f0;
    background-alt:                     #101010;
    foreground:                         #e5e9f0;
    background:                         #161616;
}
