@import "colors.css";
@define-color active @color4;

* {
  font-size: 16px;
  font-family: "CaskaydiaCove Nerd Font";
  min-width: 8px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 2px solid @active;
  background: @background;
  background: alpha(@background, 0.7);
  color: lighter(@active);
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid lighter(@active);
  background: alpha(@background, 0.6);
  color: lighter(@active);
}

menu label,
tooltip label {
  font-size: 14px;
  color: lighter(@active);
}

#submap,
#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-left {
  margin: 4px;
  border-radius: 4px;
  transition-duration: 0.5s;
  transition-property: background-color;
  background: alpha(@background, 0.4);
  color: lighter(@active);
}

#workspaces {
  margin: 0px 2px;
  padding: 4px 0px;
  border-radius: 8px;
  font-weight: bold;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @foreground;
  background: transparent;
  border-radius: 4px;
  color: alpha(@foreground, 0.3);
}

#workspaces button.urgent {
  font-weight: bold;
  color: @foreground;
}

#workspaces button.active {
  background: alpha(@active, 0.4);
  color: lighter(@active);
  border-radius: 4px;
}

#clock {
  font-weight: bold;
  padding: 8px 2px;
}

#submap,
#connection,
#power,
#tray {
  border-radius: 4px;
  padding: 2px 0px;
  margin: 4px 2px;
  background: alpha(darker(@active), 0.3);
}

#disk,
#memory,
#cpu {
  border-radius: 4px;
  margin: 4px 0px;
  font-size: 18px;
  font-weight: bold;
  background: alpha(darker(@active), 0.2);
}

#custom-dmark {
  color: alpha(@foreground, 0.3);
}

.modules-right {
  margin: 4px;
  border-radius: 4px;
  transition-duration: 0.5s;
  background: alpha(@background, 0.4);
  color: lighter(@active);
}

#pulseaudio-slider,
#pulseaudio,
#backlight-slider,
#backlight {
  border-radius: 4px;
  padding: 4px 0px;
  margin: 0px 4px;
  background: alpha(darker(@active), 0.2);
}

#pulseaudio,
#backlight {
  margin-bottom: 4px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  padding: 4px;
  min-height: 2px;
  min-width: 2px;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  border-radius: 8px;
  margin-top: 4px;
  min-width: 4px;
  min-height: 60px;
  background-color: alpha(@background, 0.6);
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: lighter(@active);
}

#network.wifi {
  padding: 4px 4px 0px 0px;
}

#tray {
  padding: 4px 0px;
}

#bluetooth {
  padding-top: 2px;
}

#battery {
  border-radius: 8px;
  padding: 4px 0px;
  margin: 4px 2px;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairable {
  border-radius: 8px;
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-active {
  to {
    background-color: @active;
    color: @foreground;
  }
}

@keyframes blink-red {
  to {
    background-color: #bf616a;
    color: @foreground;
  }
}

@keyframes blink-yellow {
  to {
    background-color: #ebcb8b;
    color: @foreground;
  }
}

